.StatusTooltip {
  &--hidden {
    opacity: 0 !important;
  }
  .tippy-box {
    background-color: var(--s3d2-color-surface-gray-200);
    color: var(--s3d2-color-text-gray-800);
    padding: 0;
    border: 1px solid var(--s3d2-color-border-gray-200);
    border-radius: var(--border-space-2);
    max-width: 132px !important;
  }
  .tippy-content {
    padding: var(--space-1);
    font-size: 12px;
    text-align: center;
  }
  .tippy-arrow {
    color: var(--s3d2-color-surface-gray-200);
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      // background-color: red;
      transform-origin: center;
      transform: translateY(50%) rotate(45deg) scale(0.585);
      border-bottom: 1px solid var(--s3d2-color-surface-gray-200);
      border-right: 1px solid var(--s3d2-color-surface-gray-200);
    }
  }
}
