.s3d2-toggle-label-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-1);
  position: relative;
  // width: 100%;
  height: 100%;
  background-color: var(--s3d2-color-surface-gray-200-transparent-80);
  padding: var(--space-1) var(--space-2);
  border-radius: var(--border-space-2);
  backdrop-filter: blur(20px);
  p {
    pointer-events: none;

    color: var(--s3d2-color-text-gray-900);
    text-decoration-line: none;
  }
}

.s3d2-toggle-checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.s3d2-toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.s3d2-toggle-label {
  cursor: pointer;
  text-indent: -9999px;
  width: 24px;
  height: 14px;
  border-radius: 64px;
  background: var(--s3d2-color-brand-800);
  display: block;
  border-radius: 100px;
  border: 1px solid var(--s3d2-color-brand-800);
  position: relative;
}

.s3d2-toggle-label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background: var(--s3d2-color-icon-gray-200);
  transition: 0.3s;
}

.s3d2-toggle-input:checked + .s3d2-toggle-label {
  background: transparent;
}

.s3d2-toggle-input:checked + .s3d2-toggle-label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
  background: var(--s3d2-color-brand-800);
}

.s3d2-toggle-label:active:after {
  width: 15px;
}
