@use "../assets/vars";

.irs {
  --irs-height: 40px;
  --irs-point: 15px;
  --irs-color-text: #{vars.$filter-text-color};
  --irs-color-bg-line: var(--color-surface-gray-600);
  --irs-color-bar: #{vars.$filter-range-color};
  --irs-color-point: var(--s3d2-color-gray-200);
  --irs-color-point-hover: var(--surface-gray-900);
  --irs-color-point-stroke: #{vars.$filter-range-color};
  height: var(--irs-height);
  &--flat .irs-line {
    height: 2px;
    top: calc(var(--irs-point) / 2);
    // background: var(--irs-color-bg-line);
    background-color: var(--s3d2-color-surface-gray-900-transparent-20);
  }
  &--flat .irs-bar {
    top: calc(var(--irs-point) / 2);
    height: 2px;
    background: var(--s3d2-color-surface-gray-900);
  }
  &--flat .irs-handle {
    top: 0;
    width: var(--irs-point);
    height: var(--irs-point);
    border-radius: 50%;
    overflow: hidden;
    box-sizing: content-box;
    transition: transform 0.4s ease-in-out;
  }
  &--flat .irs-handle > i:first-child {
    width: 100%;
    position: static;
    margin: 0;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--irs-color-point);
    border: 1px solid var(--irs-color-point-stroke);
  }
  &--flat .irs-from,
  &--flat .irs-to,
  &--flat .irs-single {
    display: none;
    background: none;
    color: var(--irs-color-text);
    font-size: var(--font14);
    line-height: 1.3em;
    top: calc(var(--irs-point) + 2px);

    &:before {
      display: none;
    }
  }
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: vars.$filter-range-color;
}
@media screen and (min-width: 1023px) {
  .irs {
    &--flat .irs-handle {
      &:hover {
        transform: scale(1.2);
      }
    }
    &--flat .irs-handle:hover > i:first-child {
      // background-color: var(--irs-color-point-hover);
      background-color: var(--s3d2-color-surface-gray-100);
    }
  }
}

@media screen and (max-width: 1440px) {
  .irs {
    --irs-height: 35px;
  }
}

@media screen and (max-width: 680px) {
  .irs {
    --irs-height: 45px;
    --irs-point: 24px;

    &--flat .irs-handle {
      top: calc(var(--irs-point) / 2);
      transform: translate(0%, -50%) scale(1.45);
    }
  }
}

.mobile.landscape {
  .irs {
    --irs-height: 30px;
  }
} 
