@use "../../../s3d2/styles/assets/mixins";
@use "../../../s3d2/styles/globals/fonts";
@use "../../../s3d2/styles/globals/s3d2_fonts";
@use "../assets/vars";

.s3d2 {
  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    width: var(--btn);
    height: var(--btn);
    border-radius: var(--border-space-2);
    background: vars.$navigation-btn-bg;
    border: none;
    overflow: hidden;
    padding: 0;
    transition: background 0.3s ease-in;
    cursor: pointer;

    svg {
      display: flex;
      height: var(--icon24);
      width: var(--icon24);
      pointer-events: none;
      fill: vars.$navigation-btn-icon;
    }

    &[disabled] {
      cursor: no-drop;
    }

    @media screen and (min-width: 1023px) {
      &:hover {
        background: vars.$navigation-btn-bg-hover;

        svg {
          fill: vars.$navigation-btn-icon-hover;
        }
      }
    }
  }

  &-ctr {
    z-index: 120;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    pointer-events: none;

    &[data-type='favourites'] {
      [data-mobile-functions-menu-open] {
        display: none;
      }
    }

    &__nav {
      position: fixed;
      left: 0;
      bottom: 0;
      justify-content: flex-start;
      flex-direction: column;
      height: var(--controller-h);
      width: var(--controller-w);
      padding: var(--controller-padding);
      align-items: flex-start;
      pointer-events: painted;
      display: none;
      border-radius: vars.$controller-border-radius vars.$controller-border-radius 0 0;
      z-index: 101;
      background: vars.$controller-background;
      border: vars.$controller-border;

      &.s3d2-display {
        display: none !important;
      }

      @media screen and (max-width: 1024px) {
        flex-direction: row;
        align-items: center;
        padding: 0 var(--offset);
        gap: 5px;
        border-radius: 0;
        display: none !important;
        opacity: 0;
        pointer-events: none;

        .s3d2-nav {
          padding: 0;
          margin: 0;
          min-width: 100px;
        }

        .s3d2-ctr__option.active {
          &:after {
            border-top: 1px solid vars.$controller-text-color-active;
            border-right: 1px solid vars.$controller-text-color-active;
          }
        }
      }

      @media screen and (max-width: 680px) {
        padding: 0 4px;
        gap: 2px;
      }

      &__title {
        margin: 0 auto 10px 0;
        font-family: vars.$default-font;
        font-weight: 400;
        font-size: var(--font20);
        line-height: 130%;
        text-align: left;
        color: vars.$controller-title-color;

        @media screen and (max-width: 1024px) {
          display: none;
        }
      }

      .s3d2-nav__btn {
        display: flex;
        justify-content: flex-start;
        align-content: center;
        align-items: center;
        width: 100%;
        min-width: 128px;
        height: var(--controller-btn);
        margin: 1px 0;
        padding: 0 8px;
        border: vars.$controller-btn-border;
        background: vars.$controller-btn-background;
        border-radius: var(--border-space-2);
        cursor: pointer;
        transition: all 0.5s ease-in-out;
        font-family: vars.$default-font;
        font-style: normal;
        font-weight: 400;
        font-size: var(--font14);
        line-height: 130%;
        text-align: left;
        color: vars.$controller-text-color;
        white-space: nowrap;

        @media screen and (max-width: 1024px) {
          text-align: center;
          justify-content: center;
        }

        @media screen and (max-width: 680px) {
          min-width: fit-content;
          width: 100%;
          padding: 0 3px;
        }

        &:hover:not(.active):not([disabled]) {
          background: vars.$controller-btn-background-hover;
          border: vars.$controller-btn-border-hover;
          color: vars.$controller-text-color-hover;
        }

        &.active {
          cursor: no-drop;
          background: vars.$controller-btn-background-active;
          border: vars.$controller-btn-border-active;
          color: vars.$controller-text-color-active;
        }

        &[disabled] {
          cursor: no-drop;
          background: vars.$controller-btn-background-disabled;
          border: vars.$controller-btn-border-disabled;
          color: vars.$controller-text-color-disabled;
        }
      }

      .s3d2-ctr__option {
        position: relative;

        @media screen and (max-width: 1024px) {
          flex-direction: column;
          flex-wrap: nowrap;
        }

        &__buttons {
          position: absolute;
          top: 0;
          right: 0;
          transform: translate(100%, -50%);
          visibility: hidden;
          opacity: 0;
          pointer-events: none;
          padding: 0 0 0 var(--controller-padding);
          transition: opacity 0.5s ease-in-out;
          max-height: 250px;
          overflow-y: auto;
          width: 125px;

          @media screen and (max-width: 1024px) {
            left: 0;
            transform: translate(0, -105%);
            padding: 0;
            height: fit-content;

            .s3d2-nav__btn {
              background-color: vars.$controller-btn-background-active;
              color: vars.$controller-text-color-active;
            }
          }

          .active {
            display: none;
          }
        }

        &:after {
          content: '';
          border-top: 1px solid vars.$controller-text-color;
          border-right: 1px solid vars.$controller-text-color;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%) rotate(135deg);
          transition: all 0.4s ease-in-out;
          height: 6px;
          width: 6px;

          @media screen and (max-width: 1024px) {
            transform: translate(0, -50%) rotate(135deg);
          }

          @media screen and (max-width: 680px) {
            content: none;
          }
        }

        &:focus,
        &:hover {
          .s3d2-ctr__option__buttons {
            opacity: 1;
            visibility: visible;
            pointer-events: painted;
          }

          &:after {
            transform: rotate(45deg) translateY(-50%);
            border-top: 1px solid vars.$controller-text-color-active;
            border-right: 1px solid vars.$controller-text-color-active;

            @media screen and (max-width: 1024px) {
              transform: translate(0, -50%) rotate(-45deg);
            }
          }
        }
      }
    }

    &__menu-3d {
      bottom: 0;
      height: auto;
      background: vars.$navigation-bg;
      padding: 12px calc(var(--smarto-logo-w) + 12px) 12px calc(var(--controller-w) + 12px);
      visibility: hidden;
      position: fixed;
      left: 0;
      right: 0;
      pointer-events: none;
      width: 100%;
      z-index: 99;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-between;

      @media screen and (max-width: 1024px) {
        padding: var(--offset);
        bottom: calc(var(--controller-h) - 1px);
      }

      @media screen and (max-width: 680px) {
        padding: 4px;
        flex-direction: column;
      }

      &-compass-nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        pointer-events: none;
        background: vars.$compass-bg;
        padding: vars.$compass-padding;
        border-radius: var(--border-space-2);
        margin: auto;
        display: none;

        @at-root .tablet & {
          position: fixed;
          left: 0;
          top: 50%;
          width: 100%;
          justify-content: space-between;
          background: transparent;
          transform: translateY(-50%);
        }

        @at-root .desktop & {
          position: fixed;
          left: 0;
          top: 50%;
          width: 100%;
          justify-content: space-between;
          background: transparent;
          transform: translateY(-50%);
        }

        & > * {
          pointer-events: all;
        }

        .s3d2-ctr__menu-3d__compass-wrapper {
          position: relative;
          pointer-events: none;
          display: none;

          .s3d2-ctr__menu-3d__compass {
            position: relative;
            width: 300px;
            height: 39px;
            overflow: hidden;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              top: 0;
              width: 30%;
              height: 100%;
              background: linear-gradient(
                90deg,
                vars.$compass-bg 0%,
                rgba(255, 255, 255, 0.5466561624649859) 50%,
                rgba(255, 255, 255, 0) 100%
              );
              z-index: 2;
            }

            &:after {
              content: '';
              position: absolute;
              right: 0;
              top: 0;
              width: 30%;
              height: 100%;
              background: linear-gradient(
                270deg,
                vars.$compass-bg 0%,
                rgba(255, 255, 255, 0.5466561624649859) 50%,
                rgba(255, 255, 255, 0) 100%
              );
              z-index: 2;
            }

            @media screen and (max-width: 1024px) {
              width: 200px;
            }

            @media screen and (max-width: 680px) {
              width: 200px;
            }

            &__inner {
              position: absolute;
              width: auto;
              top: 0;
              right: 0;
              overflow: visible;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
              will-change: transform;

              .compass-text {
                @include mixins.font-default;
                font-size: 30px;
                text-transform: uppercase;
                color: vars.$compass-text-big;
                transition: transform 0.1s ease;
                align-self: center;
                padding: 0 3px;

                @media screen and (max-width: 680px) {
                  font-size: 28px;
                }
              }

              .compass-line-big {
                @include mixins.font-default;
                font-size: 28px;
                text-transform: uppercase;
                color: vars.$compass-text-big;
                transition: transform 0.1s ease;
                align-self: center;
                padding: 0 3px;
              }

              .compass-line-small {
                @include mixins.font-default;
                font-size: 20px;
                text-transform: uppercase;
                color: vars.$compass-text-small;
                padding: 0 3px;
                transition: transform 0.1s ease;
                align-self: center;
              }
            }
          }
        }
      }

      &-buttons {
        display: none;
        width: auto;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin-top: 8px;

        &__mobile-opener {
          display: none;
        }

        .s3d2-ctr__filter {
          z-index: 1;
          display: none;
          gap: 8px;

          @media screen and (min-width: 1023px) {
            &:hover {
              .s3d2-ctr__filter__icon circle:nth-of-type(1) {
                cx: 5.5;
              }

              .s3d2-ctr__filter__icon circle:nth-of-type(2) {
                cx: 5.5;
              }

              .s3d2-ctr__filter__icon circle:nth-of-type(3) {
                cx: 20.5;
              }
            }
          }

          &__icon {
            height: var(--icon16);
            width: var(--icon16);

            @media screen and (max-width: 680px) {
              display: none;
            }

            svg {
              width: 100%;
              height: 100%;
              fill: vars.$menu-3d-text-color-btn;
              stroke: vars.$menu-3d-text-color-btn;
            }

            circle {
              transition: cx 0.5s ease-in-out;
            }
          }
        }

        .s3d2-ctr__infra-button {
          position: relative;
          pointer-events: painted;
          z-index: 1;
          display: none;

          &__select {
            background: vars.$menu-3d-text-color-btn;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 33px;
            height: 16px;
            margin-left: 8px;
            border-radius: 43px;
            padding: 2px;
            overflow: hidden;
            cursor: pointer;

            &-circle {
              height: 14px;
              width: 14px;
              border-radius: 50%;
              background: vars.$menu-3d-main-color;
            }

            i {
              transform: translateX(100%);
              transition: transform 0.4s ease-in-out;
            }

            input:checked + i {
              transform: translateX(0);
            }
          }
        }

        .s3d2-ctr__helper {
          z-index: 1;
          display: none;
          width: var(--btn);
        }

        input {
          display: none;
        }
      }

      &-btn-style {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-content: space-between;

        align-items: center;
        padding: var(--space-2) var(--space-3);
        border: 1px solid transparent;
        // height: var(--btn);
        // border: 1px solid var(--s3d2-color-border-gray-400);
        // border-radius: var(--border-space-2);
        // background: var(
        //   --colors-surface-gray-surface-gray-900-transparent-60,
        //   rgba(26, 30, 33, 0.6)
        // );
        border-radius: var(--space-2, 8px);
        background: var(--s3d2-color-surface-gray-200-transparent-80, rgba(26, 30, 33, 0.8));
        backdrop-filter: blur(20px);
        font-size: 13px;
        color: var(--s3d2-color-text-gray-900);
        pointer-events: painted;
        transition: all 0.3s ease-in;
        overflow: hidden;
        cursor: pointer;
        @include s3d2_fonts.fonts-3d-small-medium;

        .checkbox-wrapper-6 {
          margin-left: 8px;
        }

        @media (hover: hover) {
          &:not([for='data-hightlight-svg-elements']):hover {
            // background-color: var(--color-surface-gray-400-transperent-88);
            // border-color: var(--border-gray-600-transparent-88);
            background-color: var(--s3d2-color-surface-gray-200-transparent-72);
          }
        }

        // &:hover {
        //   border-color: var(--border-gray-600-transparent-88);
        //   background-color: var(--color-surface-gray-400-transperent-88);
        // }

        &.btn-style-hover {
          @media screen and (min-width: 1023px) {
            &:hover {
              border: vars.$menu-3d-border-btn-hover;
              background: vars.$menu-3d-background-btn-hover;
              color: vars.$menu-3d-text-color-btn-hover;
            }
          }
        }

        &[disabled] {
          opacity: 0.5;
          pointer-events: none;

          .checkbox-wrapper-6 {
            pointer-events: none;
          }
        }
      }
    }
  }
  &-ctr__audio {
    position: absolute;
    right: var(--space-6);
    bottom: var(--space-6);
    width: var(--space-20);
    height: var(--space-20);
    z-index: 2;
    pointer-events: all;
    transition: 0.25s ease-in-out;
    &.disabled {
      display: none;
    }
    @media screen and (max-width: 1024px) {
      bottom: calc(var(--mobile-controller-height) + var(--space-2));
    }
    &.s3d_audioAssistantState-inactive {
      transform: translateX(75%);
    }
    &-canvas-wrap {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 50%;
      &-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
        pointer-events: none;
      }
      canvas {
        // transform: scale(1.1);
        cursor: pointer;
      }
    }
    &-close {
      position: absolute;
      right: 0;
      top: 0;
      width: var(--space-6);
      height: var(--space-6);
      z-index: 2;
      border-radius: 50%;
      background-color: var(--color-brand-800);
      transform: translate(25%, -25%);
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        transform: translate(25%, -25%) scale(1.45);
      }
      @media (hover: hover) and (min-width: 1025px) {
        &:hover {
          background-color: var(--color-brand-900);
        }
      }
    }
    &-open {
      position: absolute;
      left: 0;
      top: 0;
      width: var(--space-6);
      height: var(--space-6);
      z-index: 2;
      border-radius: 50%;
      background-color: var(--color-brand-800);
      transform: translate(-25%, -25%);
      cursor: pointer;
      @media screen and (max-width: 1024px) {
        transform: translate(-25%, -25%) scale(1.45);
      }
      @media (hover: hover) and (min-width: 1025px) {
        &:hover {
          background-color: var(--color-brand-900);
        }
      }
    }
    &.s3d_audioAssistantState-active &-open {
      display: none;
    }
  }
}

.heartbeat {
  -webkit-animation: heartbeat 2s ease-in-out infinite both;
  animation: heartbeat 2s ease-in-out infinite both;
}

.s3d2-ctr__audio-canvas-wrap {
  canvas {
    opacity: 0;
  }
  background-color: var(--color-brand-800);
}

.s3d2-ctr__audio-canvas-wrap__new-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: auto;
  pointer-events: none;

  rect {
    transform-origin: center;
    transform-box: fill-box;
    transform: translateY(80%);
    transition: 0.25s ease-in-out;
  }
}

.s3d2-ctr__audio.playing .s3d2-ctr__audio-canvas-wrap__new-icon {
  rect:nth-of-type(1) {
    animation: rectOneLastAnim 1s ease-in-out infinite;
  }
  rect:nth-of-type(2) {
    animation: rectMediumAnim 1s ease-in-out infinite;
    animation-delay: 0.2s;
  }
  rect:nth-of-type(3) {
    animation: rectOneLastAnim 1s ease-in-out infinite;
    animation-delay: 0.4s;
  }
}

@keyframes rectOneLastAnim {
  0% {
    transform: translateY(80%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(80%);
  }
}

@keyframes rectMediumAnim {
  0% {
    transform: translateY(80%);
  }
  50% {
    transform: translateY(10%);
  }
  100% {
    transform: translateY(80%);
  }
}

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.desktop {
  //
  .s3d2-ctr__option {
    &__buttons {
      max-height: 250px;
      overflow-y: auto;
      scrollbar-width: none;
      --webkit-scrollbar: none;

      &::-webkit-scrollbar {
        display: none;
      }

      &--floors {
        top: auto;
        bottom: 0;
        transform: translate(100%, 0%);
      }
    }
  }
}

.tablet {
  .s3d2-ctr__option {
    &__buttons {
      width: 175px;
    }
  }

  .s3d {
    &-ctr {
      &__nav {
        .s3d2-nav__btn {
          @media screen and (max-width: 1024px) {
            width: max-content;
          }

          min-width: auto;
          flex-grow: 1;
        }
      }

      &__menu-3d-buttons {
        & > :nth-child(n + 2) {
          margin-left: 4px;
        }
      }
    }
  }
}

.mobile {
  .s3d {
    &-ctr {
      &__menu-3d-btn-style {
        // padding-top: calc(var(--space-2) - 1px);
        // padding-bottom: calc(var(--space-2) - 1px);
      }

      &__menu-3d-buttons {
        transition: 0.25s ease-in-out;
        transform: translateY(100%);
        display: none !important;

        &.s3d2-show {
          transform: translateY(0%);
        }

        &__mobile-opener {
          [data-when-opened] {
            display: none;
          }

          [data-when-closed],
          [data-when-opened] {
            animation: fadeInPopup 0.5s ease-in-out forwards;
          }

          width: 42px;
          height: 42px;
          pointer-events: all;
          position: absolute;
          right: 0;
          bottom: calc(100% + 8px);

          z-index: 2;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: white;
          padding: 4px;

          svg {
            width: 100%;
            height: 100%;

            [fill] {
              fill: red;
            }

            [stroke] {
              stroke: red;
            }
          }

          input {
            display: none;
          }
        }

        &.s3d2-show {
          [data-when-closed] {
            display: none;
          }

          [data-when-opened] {
            display: block;
          }
        }

        position: relative;
        z-index: 100;
        justify-content: flex-start;

        position: fixed;
        right: 0;
        left: auto;
        top: auto;
        bottom: var(--menu-h);

        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        height: auto;
        background: white;
        padding: 8px;

        & > * {
          flex-shrink: 0;
          flex-grow: 1;
        }
      }

      &__option {
        &__buttons {
          scrollbar-width: none;
          --webkit-scrollbar: none;

          &--floors {
            left: auto;
            right: 0;
          }

          & > * {
            width: 125px !important;
          }
        }
      }

      .s3d2-nav__btn {
        font-size: 10.5px;
        width: 10.28%;
      }
    }
  }
}

.s32d-theme-flat-floor-container {
  display: flex;
  align-items: center;
  gap: 4px;
  position: fixed;
  top: 62px;
  right: 16px;
}

.theme-chooser-container {
  display: flex;
  align-items: center;
  gap: 4px;
  position: fixed;
  top: 62px;
  right: 16px;

  @media screen and (max-width: 767px) {
    right: 8px;
  }
}

.s3d2__choose--flat {
  // width: 78px;
  position: relative;
  z-index: 1;
  display: none;
  padding: 0;
  border: 1px solid var(--s3d2-color-border-gray-900-transparent-10);
  // background: var(--color-surface-gray-200-transperent-88);
  background: var(--s3d2-color-surface-gray-200-transparent-80);

  input {
    display: none;
  }

  &--button {
    z-index: 1;
    transition: background-color 0.6s ease-in-out, color 0.3s ease-in-out;
    cursor: pointer;
    text-align: center;
    // width: 97px;
    // width: 38px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: var(--space-3);
    padding: var(--space-1) var(--space-2);
    border-radius: var(--border-space-2);
    border: 1px solid transparent;
    // border: 1px solid var(--s3d2-color-border-gray-400);
    // background-color: var(--color-surface-gray-200);

    &.current {
      // border: 1px solid var(--border-brand-900);
      // background-color: var(--s3d2-color-surface-gray-900);
      pointer-events: none;

      span {
        color: var(--s3d2-color-text-gray-900);
      }
    }

    &-bg {
      border-radius: var(--border-space-2);
      // background-color: ;
    }

    @media (hover: hover) {
      &:hover {
        // border-color: var(--s3d2-color-surface-gray-900-transparent-10);
        background-color: var(--s3d2-color-surface-gray-900-transparent-10);
      }
    }

    @media screen and (max-width: 680px) {
      width: 50%;
      flex-grow: 1;
    }

    input:checked {
      & + span {
        // color: var(--s3d2-color-text-gray-200);
        color: var(--s3d2-color-text-gray-200);
      }

      @media screen and (min-width: 1023px) {
        &:hover {
          & + span {
            color: var(--s3d2-color-text-gray-900);
            cursor: no-drop;
          }
        }
      }
    }

    input:not(checked) {
      & + span {
        // color: vars.$menu-3d-text-color-btn;
        color: var(--s3d2-color-text-gray-900);
      }

      @media screen and (min-width: 1023px) {
        &:hover {
          background: vars.$menu-3d-background-btn-hover;
        }
      }
    }

    span {
      transition: color 0.3s ease-in-out;
    }

    &-bg {
      position: absolute;
      left: 0;
      height: 100%;
      width: 97px;
      display: flex;
      justify-content: center;
      align-items: center;
      pointer-events: none;
      overflow: hidden;
      z-index: 0;

      @media screen and (max-width: 680px) {
        width: 87px;
      }

      svg {
        height: 100%;
        width: 200%;
        flex: 1 0 200%;
        // fill: var(--s3d2-color-surface-gray-900);
        fill: var(--s3d2-color-brand-800);
        @media screen and (min-width: 1025px) {
          height: calc(100% + 1px);
        }
      }
    }
  }
}

.s3d2-ctr__theme {
  visibility: visible;
  transition: all 0.4s ease-in-out;
  z-index: 1;
  display: none;
  padding: 0;
  border: none;
  // background-color: var(--color-surface-gray-400);
  // background-color: var(--color-surface-gray-200);
  // background-color: transparent;

  // width: 84px;
  width: fit-content;

  &--currencies {
    width: 100px;
    height: 40px;
  }

  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    width: 100%;
    // height: 40px;
    background: transparent;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-space-2);
    // border: 1px solid var(--s3d2-color-border-gray-600-transparent-40);;
    div,
    svg {
      // width: 40px;
      // height: 40px;
      // padding: var(--space-2);
      // fill: vars.$menu-3d-text-color-btn;
      width: 24px;
      height: 24px;
      padding: 0 var(--space-05);
      fill: var(--s3d2-color-icon-gray-900);
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      cursor: pointer;
      transition: 0.25s ease-out;
      border-radius: var(--border-space-2);
      // background-color: var(--color-surface-gray-200);
      // background-color: var(--color-surface-gray-200);

      &:hover {
        // background-color: var(--color-surface-gray-400-transperent-88);
        background-color: transparent;
      }
    }
    div {
      width: 51px;
      height: 40px;
      flex-shrink: 0;
    }

    svg:first-child {
      // margin-right: var(--space-1);
    }

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      // width: 40px;
      // height: 40px;
      width: 24px;
      height: 24px;
      // background: var(--s3d2-color-surface-gray-900);
      background-color: var(--s3d2-color-brand-800);
      // border-radius: var(--border-space-2);
      border-radius: 0;
      // border: 1px solid var(--border-brand-900);
      transition: all 0.3s ease-in-out;
      z-index: -1;
    }
  }
  &--currencies label {
    // border: 1px solid var(--s3d2-color-border-gray-600-transparent-40);;
  }
  &--currencies label:after {
    width: 48px;
  }
  &--currencies label:before {
    content: '';
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    border-radius: var(--space-2);
    border: 1px solid var(--s3d2-color-border-gray-600-transparent-40);
  }

  input:not(:checked) + label {
    div:first-child,
    svg:first-child {
      background-color: transparent;
    }
    div:first-child,
    svg:first-child {
      fill: var(--s3d2-color-icon-gray-200);
      color: var(--s3d2-color-icon-gray-200);
    }
  }

  input:checked + label {
    div:last-child,
    svg:last-child {
      background-color: transparent;
      fill: var(--s3d2-color-icon-gray-200);
      color: var(--s3d2-color-icon-gray-200);
    }

    &:after {
      left: 100%;
      transform: translate(-100%, -50%);
    }
  }
}
