html.iphone,
html.iphone body {
  position: fixed;
}

html.iphone,
html.iphone body {
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
}

html.tablet,
html.tablet body {
  position: fixed;
  width: 100%;
  height: 100%;
}

:fullscreen {
  [data-fullscreen-mode] {
    display: none;
  }
}

html:not(:fullscreen) {
  [data-fullscreen-mode-off] {
    display: none;
  }
}

.object-fit-contain-important {
  object-fit: contain !important;
}

.empty-hidden {
  &:empty {
    display: none;
  }
}

html {
  touch-action: pan-x pan-y;
  -ms-touch-action: pan-x pan-y;
}
