@use "../../../globals/fonts";

.Checkbox {
  &__input {
    display: none;
  }

  cursor: pointer;

  &__label {
    display: block;
    @include fonts.text-style-3-d-fonts-1920-tiny;
    font-weight: 400;
    border-radius: var(--border-space-2);
    padding: var(--space-1) var(--space-2) !important;
    // background-color: var(--color-surface-gray-200-transperent-88);
    border: 1px solid transparent;
    cursor: pointer;
    transition: 0.25s ease-out;
    color: var(--s3d2-color-gray-900);
    // @media screen and (max-width: 600px) {
    //   padding-top: calc(var(--space-3) - 1px) !important;
    //   padding-bottom: calc(var(--space-3) - 1px) !important;
    // }
  }

  &:hover &__label {
    background-color: var(--color-surface-gray-300);
    border-color: var(--s3d2-color-border-gray-600);
    color: var(--s3d2-color-text-gray-900);
  }

  &__input:checked + &__label {
    // border-color: var(--border-brand-900);
    background-color: var(--s3d2-color-surface-gray-900);
    color: var(--s3d2-color-text-gray-200);
  }

  &:hover &__input:checked + &__label {
    // border-color: var(--s3d2-color-border-gray-600-transparent-40);;
    // background-color: var(--color-surface-gray-200-transperent-88);
    // color: var(--s3d2-color-text-gray-900);
  }
}
