.FlybyControllerWrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  pointer-events: none;
  & > * {
    pointer-events: all;
  }

  .FlybyControllerWrapper-filter-call-button {
    position: absolute;
    left: var(--space-4);
    top: calc(var(--s3d-header) + var(--space-1));
  }
  .s3d__compass {
    position: absolute;
    right: var(--space-2);
    top: calc(var(--s3d-header) + var(--space-12));
    margin: 0;
    background-color: var(--s3d2-color-surface-gray-200-transparent-80);
    border-radius: var(--border-space-2);
    backdrop-filter: blur(20px);

    @media screen and (min-width: 1023px) {
      background-color: transparent;
      backdrop-filter: none;
    }
  }
}
.FlybyController {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  z-index: 100;
  width: calc(180px + var(--space-4) * 2);
  & > :nth-child(n + 2) {
    margin-top: var(--space-1);
  }
  & > :empty {
    display: none;
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: var(--space-1);
  }
  & > .ButtonWithoutIcon {
    text-align: left;
  }

  .s3dFlybySideChooser {
    .ButtonWithoutIcon {
      padding-top: 3px;
      padding-bottom: 3px;
    }
  }
}

.tablet,
.mobile {
  .FlybyControllerWrapper-filter-call-button,
  .FlybyController {
    // display: none;
  }
}

.mobile-flyby-spin-container {
  position: fixed;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  width: 100%;
}
