.mobile {
  .s3d-flat {
    display: flex;
    flex-direction: column;
    // height: calc(var(--vh,1vh) * 100);
    // overflow-y: auto;
    overflow: initial;
    padding-top: calc(var(--s3d-header) + var(--space-4));
    padding-bottom: var(--mobile-controller-height);
    margin-bottom: calc(var(--mobile-controller-height) * -1);
    padding-left: var(--space-2);
    padding-right: var(--space-2);
    background-color: var(--color-surface-gray-200);

    &__content-screen {
      background-color: var(--color-surface-gray-100);
      padding-bottom: var(--space-2);
    }

    .s3d-flat__content-screen ~ .s3d-flat__content-screen {
      margin-top: var(--space-4);
    }

    &__content-wrapper {
      overflow: initial;
    }

    &__floor-plan-container {
      grid-template-columns: max-content 1fr;
      gap: var(--space-2);

      .ButtonWithoutIcon {
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: var(--space-2);
      }

      grid-template-areas:
        'title'
        'floor'
        'nav';

      &-nav {
        display: flex;
        margin: auto;

        & > :nth-child(n + 2) {
          margin-top: 0;
          margin-left: var(--space-1);
        }
      }
    }

    &__gallery-container {
      overflow: hidden;

      &-slide {
        position: relative;
        padding-bottom: 100%;
      }

      &-navigation {
        & > button:first-child {
        }

        & > button:last-child {
        }
      }
    }

    &__explication-screen {
      grid-template-columns: 1fr;
      max-height: none;
      display: flex;
      align-items: center;
      align-content: center;
      flex-direction: column-reverse;
      height: auto;

      &-slider {
        width: 100%;
        margin-bottom: var(--space-2);
      }

      &-slide {
        padding-bottom: 100%;
      }

      &-table {
        width: 100%;
        background-color: transparent;
        padding: 0;

        .s3d-ctr__menu-3d-btn-style {
          background-color: transparent;
        }
      }
    }

    &__other-flats-table {
      border-collapse: separate;
      border-spacing: var(--space-2) 0;

      th {
        vertical-align: middle;
      }

      td {
        padding-top: var(--space-3);
        padding-bottom: var(--space-3);
        vertical-align: middle;
      }

      .s3d-card__status {
        display: flex;
        flex-direction: column-reverse;
        padding: var(--space-1);
        border-radius: var(--border-space-2);
      }

      .ButtonWithoutIcon {
        padding: var(--space-1);
      }
    }

    &__documentation-screen {
      grid-template-columns: 1fr;

      &-title {
        padding: 0;
        margin-bottom: var(--space-2);
      }

      .FlatDocCard {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }

    &__financial-terms-screen {
      grid-template-columns: 1fr;

      &-title {
        padding: 0;
        margin-bottom: var(--space-2);
        margin-top: var(--space-4);
      }

      .FlatFinancialTermsCard {
        grid-column-start: 1;
        grid-column-end: 2;
      }
    }

    &__construction-progress-screen {
      margin-top: var(--space-4);

      &-title {
        padding: 0;
        margin-bottom: var(--space-3);
      }

      &-left {
        width: calc(100% - var(--offset) * 2);
        padding: var(--space-4);
      }

      &-right {
        width: calc(100% - var(--offset) * 2);
        margin-top: var(--space-2);
        text-align: left;
        padding: var(--space-4);
      }

      &-slide {
        padding-bottom: 100%;
      }
    }
  }

  .s3d__wrapper__flat {
  }
}
